@charset "UTF-8";

@font-face {
    font-family: 'KorailRoundGothicBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KorailRoundGothicBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

*{
	font-family: 'KorailRoundGothicBold';
	padding: 0px;
	margin: 0px;
}

.wrap{
	display: flex;
	justify-content: center;
}


.container{
	width: 45%;

	margin: 1%;
}

.kioskbox{
	width: 100%; height: 800px;
	border: 1px solid black;
}


.category li{
	display: inline-block;
	margin: 10px 30px;
	color: silver;
}

.content{
	height: 580px;
}

.categoryselect{ 
	color: red !important; 
	border-bottom: 2px solid red; 
	padding-bottom: 5px;
}

.burgerbox{
	height: 415px;
	display: flex;
	flex-wrap: wrap;
}

.cartbox{
	height: 150px;
	background-color: silver;
}

.burger{
	width: 30%;
	text-align: center;
	margin: 1%;
}

.pprice{
	color: red;
}

/*카트*/

.carttop{
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
}




/* 버튼 */
.cartbtn{
	display: flex;
	border: none;
}

.pcount{
	background-color: red;
	width: 30px;
	display: inline-block; /* span기본값 변경 [사이즈조절]*/
	color: white;
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
	padding: 3px;
}

.cartbtn button{
	color: white;
	font-family: 25px;
	padding: 20px;
	width: 50%;
	border: none;
}

.ptotal{
	color: red;
}

.cartbottom{
	display: flex;
	margin-top: 20px;
	padding: 10px;
}

.item{
	background-color: white;
	width: 20%;
	padding: 10px;
	margin-right: 10px;	
}

.iprice{
	color: red;
	margin: 10px 0px;
}

.ititle{ width: 100%;
}

.cancelbtn{
	background-color: black;	
}
.orderbtn{
	background-color: red;
}