@charset "UTF-8";


a{
	color: black;
	text-decoration: none;
}


a:hover{ /* 마우스를 올렸을때 CSS */
	color: olive;
}

a:active{ /* 마우스를 클릭할때의 CSS */
	color: blue;
}

a:visited{ /* 클릭한 적이 있을때 */
	color: silver;
}

#header{
	background-color: #EEEEEE;
	display: flex;
	justify-content: center;
}

#header .drop_menu{
	margin-right: 20px;
}

#header li{
	display: inline-block;
}

.drop_menu{
	position: relative;	/* 상위요소에 relative;*/
}

.drop_menu a{
	width: 200px;
}
.drop_menu:hover .sub_menu{
	display: block; /* 보여주기 [화면표시] */
}

.sub_menu{
	position: absolute; /* 하위요소에 absolute;*/
	top: 10px;			/* 상위요소와 하위요소의 접점을 만들어 hover유지 */
	left: -30px;
	display: none; /* 숨기기 [화면에 표시 안함]*/
	font-size: 13px;
	width: 60px;
	padding-top: 20px;	/* 상위요소와 하위요소 사이 여백*/
	border-bottom: 1px solid black;
	border-left:  1px solid black;
	border-right:  1px solid black;
}

.sub_menu a{
	width: 200px;
}