@charset "UTF-8";

/*1. 모든곳에 적용*/
*{/*s*/
	font-family: "궁서";
	color : blue;


 } /*e*/


/*2. h3 태그에 적용*/
h3{					/*윗줄*/		/*취소선*/	/*밑줄*/
	text-decoration: overline line-through underline;
	text-shadow: 10px -5px 4px orange;
	text-align: center;
}

/*3. p 태그에 적용 */
p{
	font-family: "굴림"; color: black;
	font-size: 20px; 			/*폰트 사이즈 */
	font-style: italic;			/*기울기 */
	font-weight: bold;			/*굵게 */
	word-spacing: 2px; 			/*어간 */
	letter-spacing: 3px;		/*자간 */
	line-height: 150%;			/*줄간격 */
	
}