@charset "UTF-8";

.chattingbox{
	width: 40%;
	margin: 50px auto;
}

.contentbox{
	border:  1px solid black;	
	height: 500px;
	background-color: #BACEE0;
	/*내용물이 커지면 스크롤생성*/
	overflow-y: scroll;
	padding: 15px;
}

.msgbox{
	width: 80%;
	border:  1px solid black;
	padding: 10px;
	resize: none;
	margin-top: 10px;
}

.sendbtn{
	width: 20%;
	background: yellow;
	border: none;
	border-radius: 10px;
}

.chattingbtnbox{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.date{
	font-size: 3px;
	margin: 0px 5px;
}
.content{
	background-color: white;
	border-radius: 10px;
	padding: 10px;
	max-width: 70%;
	word-break : break-all;
	font-size: 13px;
}

.sendcontent{
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: 10px;
}
.sendcontent .content{
	background-color: yellow;
}

.alarm{
	width: 70%;
	margin: 0 auto;
	font-size: 5px;
	text-align: center;
	background-color: #006CA5;
	border-radius: 15px;
}

.tocontent{
	display: flex;
	margin-top: 10px;
}

.name{
	font-size: 12px;
}

.contentdate{
	display: flex;
	align-items: flex-end;
}
.rcontent{
	margin-left: 8px;
}










