@charset "UTF-8";

.viewright{
	margin-left: 10px;
	display: flex;
	
}

.replywritebox{
    border: 1px solid #eeeeee;
    padding: 20px;
    border-radius: 20px;
    display: flex;
}
.rcontent{
	width: 90%;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	resize: none; /* 사이즈 크기변경 불가*/
	margin-right: 10px;
	padding: 15px;
}


.rwri{
	border: none;
	background-color: #0080ff;
	padding: 5px 10px;
	border-radius: 20px;
	color: white;
}
.R_reply{
	
	padding: 5px 10px;
	border-radius: 20px;
	color: black;
}